<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0Xt1xfn9zWhkWG-LmCd_mlIFm0hyQl_M</string>
	<key>GCM_SENDER_ID</key>
	<string>438439766467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team02.HMS-PatientApp</string>
	<key>PROJECT_ID</key>
	<string>hms-hospital-management-system</string>
	<key>STORAGE_BUCKET</key>
	<string>hms-hospital-management-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:438439766467:ios:05b063a26f950cbe773576</string>
	<key>DATABASE_URL</key>
	<string>https://hms-hospital-management-system-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
